src/test/resources/personal-profile.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="personal-profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identity">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="person">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="fio"/>
                    <xs:element type="xs:date" name="birth-date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="account">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="login"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="knowledge" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="knowledge" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="level" use="optional"/>
                        <xs:attribute type="xs:dateTime" name="recalculated" use="optional"/>
                        <xs:attribute type="xs:byte" name="expectation" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="check" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element name="question" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element name="answer">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:dateTime" name="given" use="optional"/>
                                        <xs:attribute type="xs:boolean" name="valid" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:dateTime" name="asked" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="class" use="optional"/>
                        <xs:attribute type="xs:dateTime" name="started" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="level" use="optional"/>
                  <xs:attribute type="xs:dateTime" name="recalculated" use="optional"/>
                  <xs:attribute type="xs:byte" name="expectation" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>